.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 10px;
}

#saved {
    border: 2px solid black;
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 20px;
}

.emptyStyle {
  background-color: white;
}

.selected {
  background-color: skyblue;
}

a {
  color: black;
  font-weight: bold;
}
